{% load static %}
{% load image_filter %}

{% for pizza in objects %}
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <a href="{{ pizza.get_absolute_url }}">
            <div class="col mb-4">
                <div class="card">
                    {% if pizza.image|is_exists %}
                        <img src="{{ pizza.image.url }}" class="card-img-top main-content" alt="...">
                    {% else %}
                        <img src="{% static 'pizza/image/pizza?.png' %}" class="card-img-top main-content" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.title|title }}</h5>
                        <p class="card-text">{{ pizza.description|truncatechars:128 }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted">Цена: {{ pizza.price|truncatechars:30 }}</p>
                    </div>

                    {% if user.is_authenticated %}
                        <form action="{% url "cart:cart_add" pizza.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" value="Добавить в корзину">
                        </form>
                    {% else %}
                        <a class="btn btn-primary btn-lg" href="/login/">Добавить в корзину</a>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
{% endfor %}